{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
			</a>	
		</li>
		<button class="btn btn-danger btn-sm delete"  data-id="{{venue.id}}">Delete</button>
		{% endfor %}
	</ul>
{% endfor %}

{% block scripts %}
<script>
	const dlt = document.querySelectorAll('.delete');
	dlt.forEach(btn => {
		btn.onclick = function(e){
			const id = e.target.dataset.id;
			const xhttp = new XMLHttpRequest()
			xhttp.open("DELETE", '/venues/'+id)
			
			xhttp.onreadystatechange = function(){
				if(xhttp.readyState === 4 && xhttp.status === 200){
					window.location.href = '/';
				}
			}
			xhttp.send()
		}
	})
</script>
{% endblock %}
{% endblock %}